  <head>
    <link rel="stylesheet" href="home.css">
  </head>

<div class="about">
  <h1>About</h1>
</div>
<div class="food_information">
  <div class="cheese">
    <h2> Image </h2>
  </div>
  <div class="cheese">
    <h2> Image </h2>
  </div>
  <div class="cheese">
    <h2> Cheese </h2>
  </div>
  <div class="charcuterie">
    <h2> Charcuterie </h2>
  </div>
  <div class="charcuterie">
    <h2> More Information </h2>
  </div>
  <div class="charcuterie">
    <h2> More Information  </h2>
  </div>
</div>
