<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
  </head>
  <body>
    <div class="container">
      <div class="about">
        <h1>About</h1>
        <p class="home_p">Delicious soft cheeses and labneh made from locally sourced milk</p>
      </div>
      <div class="home_food">
        <div class="food_information">
          <div class="cheese">
            <img class="img_about" src="/assets/Binnorie - Brie 2.jpeg" alt="Binnorie Cheese">
          </div>
          <div class="charcuterie">
            <img class="img_about" src="/assets/Binnorie - Charcuterie.jpeg" alt="Binnorie Charcuterie">
          </div>
          <div class="cheese_charcuterie">
            <h2>
              Cheese
            </h2>
          </div>
          <div class="cheese_charcuterie">
            <h2>
              Charcuterie
            </h2>
          </div>
          <div class="information">
            <p class="home_p">
              I love cheese, especially gouda cheese and biscuits. Bavarian bergkase mozzarella fondue bocconcini cheesecake chalk and cheese gouda macaroni cheese.
            </p>
          </div>
          <div class="information">
            <p class="home_p">
              I love cheese, especially croque monsieur feta. Port-salut cheese slices monterey jack bocconcini cheeseburger cheeseburger bocconcini camembert de normandie.
            </p>
          </div>
          <div class="more">
            <a href="" class="button">
              More Information
            </a>
          </div>
          <div class="more">
            <a href="" class="button">
              More Information
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
