.about {
  height: 300px;
  width: 960px;
  margin: 0 auto;
  font-family: 'Droid Serif', serif;
  text-align: center;
  padding-top: 1em;
}

.food_information {
  width: 960px;
  margin: 0 auto;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15em 3em 8em 3em;
  text-align: center;
}

.cheese {

}

.charcuterie {

}

.information {
  width: 16em;
  padding-left: 7em;
}

.more {

}

img {

}

.img_about {
  width: 50%;
  border: 4px solid black;
  border-radius: 10px;
}
