.grey {
  background-color: #333333;
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

.transparent {
  background-color: rgba(51, 51, 51, 0.5);
  width: 100%;
  height: 100px;
}

.main-logo {
  max-width: 172px;
  margin: -95px 43% 0% 43%;
}

nav a {
  color: white;
}

nav {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
